.div_menu{
	background-color: black;
}

.menu{
   color: white;
}

.footer{
   color: white;
   background-color: black;		
}

.footer-alamat{
   color: white;
   background-color: black;	
}